<div class="row">
    <div class="twelve columns" style="margin-top: 25%">
        <div class="center">
            <img src="/static/images/check.svg" alt="Signed!">
        </div>
        <div class="center">
            <h2>Thank you!</h2>
        </div>
        <div class="center">
            <h3>{{.Name}} ({{.NickName}})</h3>
        </div>
        {{if .Referer}}
            <div class="center">
                <a href="{{.Referer}}">Go Back</a>
            </div>
        {{end}}
    </div>
</div>